InlayHints:
  Enabled: Yes
  Designators: No
  ParameterNames: Yes
  DeducedTypes: Yes
CompileFlags:
  Add: [-I, "C:/Users/Admin/Documents/003Code/cxx/tray/include", -I, "C:/Users/Admin/Documents/003Code/cxx/tray/extern"]